<div class="container bg-white d-flex justify-content-between">
  <div class="left">
    <p>تاريخ الأنشاء</p>
    <div class="date d-flex">
      <div>م</div>
      <div class="time number">04:30</div>
      <div class="dot"><i class="fa-solid fa-circle"></i></div>
      <div class="date number">01/12/2024</div>
    </div>
  </div>

  <div class="right d-flex">
    <div>
      <p class="m-0">تم الإنشاء بواسطة</p>
      <p class="m-0">احمد محمد يوسف محمد</p>
    </div>
    <img
      class="align-self-center"
      src="https://imgcdn.stablediffusionweb.com/2024/11/1/f9199f4e-2f29-4b5c-8b51-5a3633edb18b.jpg"
      alt="image"
    />
  </div>
</div>
