<div class="container">
  <!-- first row -->
  <div>
    <p>عدد الإمتدادات</p>
    <p class="number">09</p>
  </div>
  <div>
    <p>العميل الحالي</p>
    <p title="الشركة الألمانية لإبادة الحشرات">
      <span class="img logo"></span> الشركة الألمانية لإبادة ...
    </p>
  </div>
  <div>
    <p>الدولة</p>
    <p>
      <span class="img sak"></span>
      المملكة العربية السعودية
    </p>
  </div>
  <div>
    <p>اسم البرتوكول</p>
    <p>فودافون مصر</p>
  </div>
  <!-- second row -->
  <div>
    <p>الرصيد المستخدم للرقم ككل</p>
    <p><span class="number">5000 </span> <span> ج.م</span></p>
  </div>
  <div>
    <p>الرصيد المستخدم للعميل الحالي</p>
    <p><span class="number">5000 </span> <span> ج.م</span></p>
  </div>
  <div>
    <p>الرصيد الحالي</p>
    <p><span class="number">5000 </span> <span> ج.م</span></p>
  </div>
  <div>
    <p>تاريخ آخر شحنة</p>
    <p class="number">2024/12/29</p>
  </div>
</div>
