<div
  class="container-fluid bg-white d-flex justify-content-between align-items-center"
>
  <!-- Left part -->
  <div class="close center-content">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <!-- End left part -->

  <!-- Right part -->
  <div class="rightPart d-flex align-items-center justify-content-between">
    <p class="text m-0">عرض الرقم</p>
    <div class="hash center-content">
      <i class="fa-solid fa-hashtag fw-medium"></i>
    </div>
  </div>
  <!-- End right part -->
</div>
