<div class="container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>العميل</th>
          <th>تاريخ التعيين</th>
          <th>تاريخ إلغاء التعيين</th>
          <th>المسؤول عن التعيين</th>
          <th>الدقائق المحلية</th>
          <th>الدقائق الدولية</th>
          <th>المبلغ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
        <tr>
          <td>
            <span class="img logo"></span>
            الشركة الألمانيةلابداة الحشرات
          </td>
          <td class="number">1/12/2024</td>
          <td>-</td>
          <td>عبد الرحيم اسماعيل ناصف</td>
          <td class="number">7654</td>
          <td class="number">122</td>
          <td><span class="number">61980 </span> <span> ج.م</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- pages section -->
  <section class="pages">
    <div class="left d-flex align-items-center">
      <div type="button"><i class="fa-solid fa-chevron-left"></i></div>
      <div class="pages-numbers d-flex">
        <div class="selected number" type="button">1</div>
        <div class="number" type="button">2</div>
        <div class="number" type="button">3</div>
        <div class="number" type="button">4</div>
        <div class="number" type="button">5</div>
      </div>
      <div type="button"><i class="fa-solid fa-chevron-right"></i></div>
    </div>
    <div class="right">
      <p>من أصل 55</p>
      <select name="num-of-pages" id="num-of-pages" class="number">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
      <p>عرض</p>
    </div>
  </section>
</div>
